/.DS_Store
/.localized
/Day - 09 (24_06_23)
/Day - 10 (28_06_23)
/Farmers
/Java programing lang
/My portfolio
/Screen Recording 2025-07-10 at 10.47.09 AM.mov
/assets
/food-del
/food-del copy
/new.html
/new2.html
/shiv shakti.zip
/sigma